$transition: 0.3s ease;

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        position: relative;
        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            inset: -2px;
            transition: background-color $transition, filter $transition;
        }
        &:hover::after {
            background-color: $value;
            filter: blur(0.5rem);
        }
    }
}
.mockup-flex {
    display: flex;
    gap: 1rem;
}
.card-img-top {
    transition: scale $transition;
}
.card:hover .card-img-top {
    scale: 1.05;
}

html {
    scroll-behavior: smooth;
}
:target {
    scroll-margin-block: 5ex;
}

/*custom shadow*/

.custom-box-shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

/*i have some styles for shows date picker funktion*/

/* Detta används alltid */

.card-dates {
    border-radius: 5px;
}
/* Om datumet är i det förflutna */

.bg-date-picker {
    background-color: #a7a5a5;
    color: black;
}

.text-muted {
    color: #a1a1a1;
}
.card-dates.no-hover:hover {
    background-color: #a7a5a5;
    cursor: not-allowed;
}
.hoverable {
    transition: transform 0.3s;
}

.hoverable:hover {
    transform: scale(1.03);
    background-color: #e0e0e0;
}

.fixed-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
